<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/PiggyBankCSS.css">
  <title>aboutUsPage</title>
  <script defer src="https://kit.fontawesome.com/8f059f76f5.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="../static/PiggyBank.js"></script></head>
<body class="Clean">
  <header class="navbar">
    <a class="nav" href="../views/PiggyBank.html"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="nav" href="../views/aboutUs.html"><i class="fas fa-users"></i> About US</a>
    <a class="nav" href="../views/ContactUs.html"><i class="fa fa-fw fa-envelope"></i> Contact US </a>
  </header>
    <div class="FormContactUs"  style="display: inline-flex">
      <div class="PicDiv1">
        <img src="../static/Pictures/PiggyLogo.png" style="display: block" alt="Piggy Accounting" width=90% height=20% class="picturesMain">
        <img src="../static/Pictures/Screen%20Shot%202022-11-29%20at%2021.49.01.png" alt="Piggy Accounting" width=60% height=50% class="picturesMain"> <br>
        <img src="../static/Pictures/PiggyPlant.png" alt="Piggy Accounting" width=50% height=50% class="picturesMain">
      </div>
    <div class="PiggyAbout">
      <p >Piggy Bank Accounting is a new startup that helps people save alot of cash. <i class="fas fa-calculator"></i>
      </p>
      <p >We believe that every user has a chance to save up to 25% of their spending's <i class="fas fa-lightbulb"></i>
      </p>
      <p >Join us and let us save you money. <i class="fas fa-comment-dollar"></i>
      </p>
    </div>
    <div class="PicDiv">
      <img src="../static/Pictures/Piggy%20stamp.png" alt="Piggy Accounting" width=80% height=100% class="picturesMain">
    </div>
  </div>
  <footer>
    <p class="copyright">Piggy Bank Accounting © 2022</p>
  </footer>
</body>
</html>