doctype html
head
    meta(charset='UTF-8')
    title ContactUs
    meta(charset='UTF-8')
    script(defer='' src='https://kit.fontawesome.com/8f059f76f5.js' crossorigin='anonymous')
    link(rel='stylesheet' href='css/PiggyBankCSS.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(defer='' src='JS/PiggyBank.js')
header.navbar
    a.nav(href='http://localhost:3000/piggyBank')
        i.fa.fa-fw.fa-home
        |  Home
    a.nav(href='http://localhost:3000/aboutUs')
        i.fas.fa-users
        |  About US
    a.nav(href='http://localhost:3000/contactUs')
        i.fa.fa-fw.fa-envelope
        |  Contact US
body(class="Clean")
    .Form
        .FormDiv
            img.picturesMain(src='/Pictures/PiggyLogo.png' alt='Piggy Accounting' width='50%' height='10%')
            form#form.SignUpForm(action='/contactUs' name='SignUpForm' method='post')
                p.textTour2
                    | Please fill in the required information,
                    br
                    | so we can return to you quickly.
                    br
                label(for='firstname') First Name:
                input#firstname(style='text-align:left' type='text' name='firstname' placeholder='Please insert your first name' minlength='2' required='')
                label(for='lastname') Last Name:
                input#lastname(style='text-align:left' type='text' name='lastname' placeholder='Please insert your last name' minlength='2' required='')
                label(for='email') Email:
                input#email(style='text-align:left' type='email' name='email' placeholder='Please insert your email' required='')
                label(for='Details') Details:
                textarea#Details(style='text-align:left' type='texr' name='Details' placeholder='...' minlength='4' required='')
                input(type='submit' class='subButton' onclick='submitForm()')
                img.picturesMain(src='/Pictures/PiggyBook.png' alt='Piggy Accounting' width='50%' height='50%')
                br
        .PicDiv
            img.picturesMain(src='/Pictures/Moznaim.png' alt='Piggy Accounting' width='80%' height='100%')
footer
    p.copyright Piggy Bank Accounting &copy; 2022
    p.email Feel free to contact: info@PiggyBank.com
