doctype html
head
    meta(charset='UTF-8')
    title PiggyBankHomePage
    script(defer='' src='https://kit.fontawesome.com/8f059f76f5.js' crossorigin='anonymous')
    link(rel='stylesheet' href='css/PiggyBankCSS.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(defer,src='JS/PiggyBank.js')
header.navbar
    a.nav(href='http://localhost:3000/piggyBank')
        i.fa.fa-fw.fa-home
        |  Home
    a.nav(href='http://localhost:3000/aboutUs')
        i.fas.fa-users
        |  About US
    a.nav(href='http://localhost:3000/contactUs')
        i.fa.fa-fw.fa-envelope
        |  Contact US
body(class="Clean")
    #LoginSignUp(style='display: inline')
        p.results
            | #{v1}
        img.result(src='/Pictures/PiggyBook.png' alt='Piggy Accounting' width='25%' height='25%')

footer
    p.copyright Piggy Bank Accounting &copy; 2022
