doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet",href="css/PiggyBankCSS.css")
        script(src="",defer)
        title Document
body
    h1 Wow
    nav
        ul
            li
                a(href="http://localhost:8080/Zero") Home
            li
                a(href="http://localhost:8080/First") First
            li
                a(href="http://localhost:8080/Second") Second
    block content
    footer
        p I love Pizza 2023/1/1


