<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ContactUs</title>
    <meta charset="UTF-8">
    <script defer src="https://kit.fontawesome.com/8f059f76f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/PiggyBankCSS.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/PiggyBank.js"></script>
</head>
<body class="Clean" onload = "updateSummaryTable()">
    <header class="navbar">
        <a class="nav" href="../views/Piggy_Accounting.html"><i class="fas fa-balance-scale-right"></i> Piggy Accounting </a>
        <a class="nav" href="../views/PiggyBank.html"><i class="fa fa-fw fa-home"></i> Logout</a>
    </header>
    <div id="showAnalytics" >
        <p style="display: inline">
            Click here to view Piggy Analytics Dashboard :
        </p>
        <button style="display: inline"  onclick="openAnalytics()"><i class="fas fa-funnel-dollar	"></i>Piggy Analytics</button>
    </div>
    <div id="showAccounting" >
        <p style="display: inline">
            Click here to insert and view the Piggy Accounting tables :
        </p>
        <button style="display: inline" type="button" onclick="openAnalytics()"><i class="fas fa-balance-scale"></i>Piggy Accounting</button>
    </div>

    <div id="accounting" >
    <div class="InertAcc" style="display: grid">
        <div class="AccountingPar" style="display: inline">
            <img src="../static/Pictures/PiggyLogo.png"  alt="Piggy Accounting" width=40% height=20% class="picturesMain">
            <p class="textTour2"> Please insert your incomes and expenses<br> so we can help you save money.<i class="fas fa-comment-dollar	"></i>
            </p>
        </div>
        <div  class="myForm">
            <form class="AccForm" style="text-align:left" name="AccForm" method="post" >
                <label for="Name">Name: </label><br>
                <input style="text-align:left" type="text" id="Name" name="Name" placeholder="Please insert the name of the product" minlength="2" required><br>
                <label for="Date">Date: </label><br>
                <input style="text-align:left" type="date" id="Date" name="Date" placeholder="please use this format: mm/dd/yy (example: 01/01/22)" required ><br>
                <label for="Store">Store: </label><br>
                <input style="text-align:left" type="text" id="Store" name="Store" placeholder="Please insert the store of the purchase" required><br>
                <label for="Payment">Payment: </label><br>
                <input style="text-align:left" type="number" id="Payment" name="Payment" placeholder="Please insert the amount of payment"  required><br>
                    <label for="Type">Type: </label><br>
                    <select id="Type">
                        <option>Expense</option>
                        <option>Income</option>
                    </select><br>
                    <label for="Category">Category: </label><br>
                    <select id="Category">
                        <option>Food</option>
                        <option>Technology</option>
                        <option>Friends</option>
                        <option>Restaurants</option>
                        <option>Shopping</option>
                        <option>Clothing</option>
                        <option>Sport</option>
                        <option>Home</option>
                        <option>Study</option>
                        <option>Wellbeing</option>
                    </select><br>
                    <label for="Essential">Essential: </label><br>
                    <select id="Essential">
                        <option>Yes</option>
                        <option>No</option>
                    </select><br>
                <button class="AccButton" type="submit" onclick=accSubmit()>Submit</button>
            </form>
        </div>
    </div>
    <section>
      <h1>Accounting Table</h1>
      <div class="tbl-header">
          <table >
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Essential</th>
                  <th>Store</th>
                  <th>Category</th>
<!--
                  <th>SubCategory</th>
-->
                  <th>Payment</th>
              </tr>
              </thead>
              <tbody id="AccountingTable">
              <tr>
                  <td>9</td>
                  <td>Watch For Maya Bres</td>
                  <td>Expense </td>
                  <td>2022-01-17</td>
                  <td>No</td>
                  <td>Rolex</td>
                  <td>Friends</td>
<!--
                  <td>Best Friends</td>
-->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>Watch For Eden Furman</td>
                  <td>Expense </td>
                  <td>2022-01-17</td>
                  <td>No</td>
                  <td>Rolex</td>
                  <td>Friends</td>
<!--
                  <td>Best Friends</td>
-->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>Watch For Eden Furman</td>
                  <td>Expense </td>
                  <td>2022-11-11</td>
                  <td>Yes</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>Watch For Eden Furman</td>
                  <td>Expense </td>
                  <td>2022-12-11</td>
                  <td>Yes</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>Watch For Eden Furman</td>
                  <td>Income</td>
                  <td>2022-12-11</td>
                  <td>Yes</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>Watch For Eden Furman</td>
                  <td>Income</td>
                  <td>2022-11-11</td>
                  <td>Yes</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Watch For Eden Furman</td>
                  <td>Expense </td>
                  <td>2022-11-11</td>
                  <td>No</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Watch For Eden Furman</td>
                  <td>Expense</td>
                  <td>2022-11-11</td>
                  <td>No</td>
                  <td>Rolex</td>
                  <td>Friends</td>
                  <!--
                                    <td>Best Friends</td>
                  -->
                  <td>150000</td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>Kia picanto Car Gal Zamosh</td>
                  <td>Expense </td>
                  <td>2022-12-17</td>
                  <td>No</td>
                  <td>Kia</td>
                  <td>Friends</td>
<!--
                  <td>Best Friends</td>
-->
                  <td>1000000</td>
              </tr>
              </tbody>
          </table>
      </div>
    </section>
    <section>
      <h1>Accounting Table Summary</h1>
         <div class="tbl-header">
         <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Balance</th>
                <th>Sum of Payments</th>
                <th>Number of Not Essential Expenses</th>
                <th>Number of Essential Expenses</th>
<!--
                <th>Number of Stores</th>
-->
                <th>Paments this month</th>
                <th>Number of Expenses this Month</th>
            </tr>
            </thead>
         </table>
         </div>
         <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody id="summaryTable">
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
         </div>
    </section>
    </div>
    <div id="analytics">
        <div class="grid-item" >
            <img src="../static/Pictures/PiggyPlant.png"  alt="Piggy Analytics" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> Recurring Expenses: </h2>
            <p class="paragraph" style="display: inline">
                watch how many expenses you did this month,<br> &nbsp &nbsp &nbsp compared to last month <br>
            </p><br>
            <h2 id="RecurringExpenses" class="KPI">0%<i class="fas fa-funnel-dollar"></i> </h2>

        </div>
        <div class="grid-item" >
            <img src="../static/Pictures/Cash.png"  alt="Piggy Accounting" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> The Category With Most Expenses: </h2>
            <p class="paragraph" style="display: inline">
                Watch what is the category,<br> &nbsp &nbsp &nbsp you spend the most money <br>
            </p><br>
            <h2 id="TheCategoryWithMostExpenses" class="KPI">Null<i class="fas fa-comment-dollar"></i> </h2>
        </div>
        <div class="grid-item" >
            <img src="../static/Pictures/PiggyBook.png"  alt="Piggy Accounting" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> Non Essential Expenses Percentage:  </h2>
            <p class="paragraph" style="display: inline">
                watch what is the percentage of not essential expenses,<br> &nbsp &nbsp &nbsp from all your expenses <br>
            </p><br>
            <h2 id="NotEssentialExpensesPercentage" class="KPI">0%<i class="fas fa-funnel-dollar"></i> </h2>
        </div>
        <div class="grid-item" >
            <img src="../static/Pictures/Calculator.png"  alt="Piggy Analytics" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> Recurring Not Essential Expenses: </h2>
            <p class="paragraph" style="display: inline">
                watch how many expenses you did this month,<br> &nbsp &nbsp &nbsp compared to last month when it wasnt essential <br>
            </p><br>
            <h2 id="RecurringNotEssentialExpenses" class="KPI">0%<i class="fas fa-funnel-dollar"></i> </h2>
        </div>
        <div class="grid-item" >
            <img src="../static/Pictures/Moznaim.png"  alt="Piggy Accounting" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> Recurring Number of Expenses </h2>
            <p class="paragraph" style="display: inline">
                watch what is the number of expenses you did this month,<br> &nbsp &nbsp &nbsp compared to last month <br>
            </p><br>
            <h2 id="RecurringNumberofExpenses" class="KPI">0<i class="fas fa-funnel-dollar"></i> </h2>
        </div>
        <div class="grid-item">
            <img src="../static/Pictures/Case.png"  alt="Piggy Accounting" width=100px height=100px class="picturesMain">
            <h2 class="KpiHeader"><i class="fas fa-balance-scale-right"></i> Recurring Savings </h2>
            <p class="paragraph" style="display: inline">
                watch how many incomes you had this month,<br> &nbsp &nbsp &nbsp compared to last month <br>
            </p><br>
            <h2 id="RecurringSavings" class="KPI">0%<i class="fas fa-funnel-dollar"></i> </h2>
        </div>
    </div>
    <footer>
        <p class="copyright">Piggy Bank Accounting © 2022</p>
    </footer>
</body>
</html>